<p>
  <b>Name:</b>
  <%= @phone_mag.name %>
</p>

<p>
  <b>Fio:</b>
  <%= @phone_mag.fio %>
</p>

<p>
  <b>Number:</b>
  <%= @phone_mag.number %>
</p>

<p>
  <b>Email:</b>
  <%= @phone_mag.email %>
</p>

<p>
  <b>Mobile:</b>
  <%= @phone_mag.mobile %>
</p>

<p>
  <b>Work time:</b>
  <%= @phone_mag.work_time %>
</p>


<%= link_to 'Edit', edit_phone_mag_path(@phone_mag) %> |
<%= link_to 'Back', phone_mags_path %>
