<p>
  <strong>Name:</strong>
  <%= @update.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @update.path %>
</p>

<p>
  <strong>Current:</strong>
  <%= @update.current %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
