<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
   <div id="main">
    <div id="header">
        <%= render "menu" %>
    </div>
    <div id="container">
      <div class="js-notes has-note">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert fade-in in flash_#{name}" %>
        <% end %>
        <a class="close note-close" href="#"></a>
      </div>

      <%= yield %>
    </div>
    </div>
  </body>
</html>
